SECRET_KEY=lce-secret-key-change-in-production-2026
DATABASE_URL=postgresql://user:password@host/dbname
FLASK_APP=app.py
FLASK_ENV=production
RESEND_API_KEY=re_votre_cle_api_resend
RESEND_FROM=LCE <contact@lcetg.com>
RESEND_DOMAIN=lcetg.com